body {
    /*Constraining form to about half the page. Looks a bit better and closer to the source this way?
    Easily adjustable either way.*/
    width: 100%;
    font-family: 'Avenir Next LT Pro', sans-serif;
}

.header {
    /*Centered header image*/
    text-align: center;
}


.container {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}
.forms {
    width: 60%;
    margin: 10px;
}
.contacts {
    margin: 10px;
    margin-top: 10%;
}

.forminput
{
    font-family: 'Courier New';
    font-size: 17px;
    font-weight: bold;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    border:none;
    background-color: #f1f1f1;
    padding:5px;
    width: 40%;
}

#fmessage {
    resize: none;
    width: 60%;
}

.forminput:focus { 
    outline: none;
    border:solid 1px black;
    background-color: white;
}

#submitbutton {
    margin-top: 5%;
    outline: none;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    border: solid 1px #977377;
    background-color: white;
    font-weight: bold;
    width: 150px;
    height: 40px;
}


h1, h2, h3 {
    font-weight: normal;
}